@model CheckoutViewModel;
<link rel="stylesheet" href="~/css/order.css" />

<form action="Checkout" id="checkout-form" method="post" style="margin-top: 6%;">
    <div class="wrap">
        <div class="main-content">
            <p class="fs-4 fw-semibold" style="color: #3e280e; display: flex; justify-content: center;font-size: 1.5rem!important;" id="title">
                ОФОРМЛЕННЯ ЗАМОВЛЕННЯ
            </p>
            <div class="first-main-container">
                <div class="first-block">
                    <span class="header-span">
                        <p class="text-uppercase m-0 fs-5 d-flex justify-content-center pt-2 pb-2 fw-medium" style="
                  background-color: #decaa4;
                  border: 2px solid #3e280e;
                  color: #65451f;
                   font-size: 1.5rem!important;">
                            покупець
                        </p>
                    </span>

                    <span class="align-items-center justify-content-between mt-1" style="display: flex; flex-direction: row"
                          id="select-input">
                        <p class="m-0 fw-medium" style="font-size: 19px">Замовник:</p>
                        <select id="customer-dropdown" class="form-select" style="width: 70%" aria-label="Default select example">
                            @foreach (var customer in Model.Order.Customers)
                            {
                                <option data-firstname="@customer.FirstName"
                                        data-lastname="@customer.LastName"
                                        data-phone="@customer.Phone">@customer.FirstName @customer.LastName</option>
                            }
                            <option id="add-new-user">
                                Додати Нового Користувача
                            </option>
                        </select>
                    </span>
                    <div class="m-0 p-2 flex-column" id="addNewUserSpan" style="background-color: #d9d9d98b; display: none">
                        <p class="fs-5" style="color: red">*Введіть дані:</p>
                        <div class="form-add-new-user">
                            <span class="d-flex flex-row justify-content-between">
                                <p class="fs-5">Ім'я:</p>
                                <input asp-for="Customer.FirstName" class="input-new-customer" type="text" placeholder="*Ім'я*" />
                            </span>
                            <span class="d-flex flex-row justify-content-between">
                                <p class="fs-5">Прізвище:</p>
                                <input asp-for="Customer.LastName" class="input-new-customer" type="text" placeholder="*Прізвище*" />
                            </span>
                            <span class="d-flex flex-row justify-content-between">
                                <p class="fs-5">Телефон:</p>
                                <input asp-for="Customer.Phone" class="input-new-customer" type="text" placeholder="*Телефон*" />
                            </span>
                            <span class="d-flex flex-row justify-content-between mb-2">
                                <p asp-validation-for="Customer.FirstName" class="fs-5" style="color: red"></p>
                                <p asp-validation-for="Customer.LastName" class="fs-5" style="color: red"></p>
                                <p asp-validation-for="Customer.Phone" class="fs-5" style="color: red"></p>
                            </span>
                            <span class="d-flex align-items-center justify-content-center">
                                <button id="selectFromExist" type="button" class="save-new-custumer-btn">
                                    Вибрати з наявих
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="second-block">
                    <span class="header-span">
                        <p class="text-uppercase fs-5 d-flex flex-wrap justify-content-center pt-2 pb-2 mb-1 fw-medium" style="
                  background-color: #decaa4;
                  border: 2px solid #3e280e;
                  color: #65451f;
                  font-size: 1.5rem!important;
                ">
                            товари
                        </p>
                    </span>
                    <span class="d-flex flex-row w-100 justify-content-around m-0 span-names">
                        <p class="fs-5 fw-medium mb-2">Фото</p>
                        <p class="fs-5 fw-medium mb-2">Товар</p>
                        <p class="fs-5 fw-medium mb-2">Ціна</p>
                        <p class="fs-5 fw-medium mb-2">Всього</p>
                    </span>
                    @foreach (var item in Model.Order.Cart.Items)
                    {
                        <span class="d-flex flex-row w-100 justify-content-around span-names table-items">
                            <div class="w-25">
                                <img src=@item.Image alt="@item.Image Image" />
                            </div>
                            <div class="item-name w-25">
                                <p>@item.Name світле @item.Volume л</p>
                            </div>
                            <div class="w-25 d-flex flex-column">
                                <div class="d-flex flex-row" style="padding-top: 10px;">
                                    <p class="cost">@item.Price</p>
                                    <p>грн.</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <p class="cost">@item.Count</p>
                                    <p>шт.</p>
                                </div>
                            </div>
                            <div class="w-25">
                                <p class="fs-4 res-cost">120 грн</p>
                            </div>
                        </span>
                    }
                    <span class="d-flex flex-row w-100 final-cost">
                        <p>Всього:</p>
                        <p id="final-cost">@Model.Order.Cart.TotalPrice грн</p>
                    </span>
                    <div class="next-step-div mt-3">
                        <p class="next-step-btn fs-3" style="font-size: 1.5rem!important;">Продовжити</p>
                    </div>
                </div>

            </div>
            <div class="second-main-container">
                <div class="first-column">
                    <div class="adress">
                        <div class="header-span">
                            <p class="text-uppercase fs-5 d-flex flex-wrap justify-content-center p-2 mb-1 fw-medium" style="
                    background-color: #decaa4;
                    border: 2px solid #3e280e;
                    color: #65451f;
                    font-size: 1.5rem!important;
                  ">
                                Адреса доставки
                            </p>
                        </div>

                        <span class="d-flex flex-row justify-content-between">
                            <p class="fs-5">Місто:</p>
                            <input asp-for="Delivery.City" style="width: auto;" class="" type="text" placeholder="*Місто*" />
                        </span>
                        <span class="d-flex flex-row justify-content-between">
                            <p class="fs-5">Адреса:</p>
                            <input asp-for="Delivery.Address" style="width: auto;" type="text" placeholder="*Адреса*" />
                        </span>
                        <span class="d-flex flex-row justify-content-between mb-2">
                            <span asp-validation-for="Delivery.City" class="fs-5" style="color: red"></span>
                            <span asp-validation-for="Delivery.Address" class="fs-5" style="color: red"></span>
                        </span>
                    </div>
                    <div class="delivery-method">
                        <div class="header-span">
                            <p class="text-uppercase fs-5 d-flex flex-wrap justify-content-center p-2 mb-1 fw-medium" style="
                    background-color: #decaa4;
                    border: 2px solid #3e280e;
                    color: #65451f;
                    font-size: 1.5rem!important;
                  ">
                                спосіб доставки
                            </p>
                        </div>

                        <div class="del-company">
                            <div data-company="Нова Пошта">
                                <img src="/img/nova-poshta.png" style="width: 50px; margin-right: 15px" alt="" />
                                <span>
                                    <p style="font-size: 18px">Нова Пошта</p>
                                    <p>Від 50 грн</p>
                                </span>
                            </div>
                            <div data-company="Укрпошта Експрес">
                                <img src="/img/1200px-Ukrposhta-ua-icon.svg.png"
                                     style="width: 30px; margin-left: 10px; margin-right: 23px" alt="" />
                                <span>
                                    <p style="font-size: 18px">Укрпошта Експрес</p>
                                    <p>Від 35 грн</p>
                                </span>
                            </div>
                        </div>

                        <div class="del-company">
                            <select class="form-control" style="background:#d9d9d98b" asp-for="Delivery.Company">
                                @foreach (var item in Model.Order.Companies)
                                {
                                    <option>
                                        @item
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="second-column">
                    <div class="header-span">
                        <p class="text-uppercase fs-5 d-flex flex-wrap justify-content-center p-2 mb-1 fw-medium" style="
                  background-color: #decaa4;
                  border: 2px solid #3e280e;
                  color: #65451f;
                  font-size: 1.5rem!important;
                ">
                            спосіб оплати
                        </p>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label fs-5" for="payByCard">
                            Онлайн-оплата банківською картою
                        </label>
                    </div>
                    <div class="bank-card">
                        <p class="fs-5">Номер Карти:</p>
                        <input asp-for="Card.Number" style=" width: 100%" type="text" placeholder="1234 5678 9123 4567" />
                        <div class="d-flex flex-row justify-content-between">
                            <span>
                                <p class="fs-5">Термін Дії(ММ/РР):</p>
                                <input asp-for="Card.Date" style=" width: 95%;" type="text" placeholder="ММ/РР" />
                            </span>
                            <span>
                                <p class="fs-5">CVV:</p>
                                <input asp-for="Card.CVV" type="text" placeholder="123" />
                            </span>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <span asp-validation-for="Card.Number" class="fs-5" style="color: red"></span>
                            <span asp-validation-for="Card.Date" class="fs-5" style="color: red"></span>
                            <span asp-validation-for="Card.CVV" class="fs-5" style="color: red"></span>
                        </div>
                    </div>

                    <input type="hidden" id="cartData" name="cartData" />
                    <div class="order-btn-div w-100 mt-5 d-flex justify-content-center">
                        <button type="submit" style="font-size: 1.5rem!important;" class="order-btn fs-3">Замовити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let addUserWindow = document.getElementById("addNewUserSpan");
        let selectCustomer = document.getElementById("select-input");
        let formSelect = document.querySelector(".form-select");

        let newCustomerFirstName = document.getElementById("Customer_FirstName");
        let newCustomerLastName = document.getElementById("Customer_LastName");
        let newCustomerPhone = document.getElementById("Customer_Phone");

        formSelect.addEventListener("click", () => {
            if (document.getElementById("add-new-user").selected) {
                addUserWindow.style.display = "flex";
                selectCustomer.style.display = "none";

                newCustomerFirstName.value = "";
                newCustomerLastName.value = "";
                newCustomerPhone.value = "";
            }
        });

        document.getElementById("selectFromExist").addEventListener("click", () => {
            addUserWindow.style.display = "none";
            selectCustomer.style.display = "flex";
            formSelect.getElementsByTagName('option')[0].selected = 'selected'
        });

        var continueBtn = document.querySelector(".next-step-btn");
        var firstMainContainer = document.querySelector(".first-main-container");
        var secondMainContainer = document.querySelector(".second-main-container")

        continueBtn.addEventListener("click", () => {
            firstMainContainer.style.display = "none";
            secondMainContainer.style.display = "flex";
        });

        function updateInputFields(options) {
            newCustomerFirstName.value = options.dataset.firstname;
            newCustomerLastName.value = options.dataset.lastname;
            newCustomerPhone.value = options.dataset.phone;
        }

        let customerDropdown = document.getElementById("customer-dropdown");
        updateInputFields(customerDropdown.options[0]);


        customerDropdown.addEventListener("change", function () {
            const selectedOption = this.options[this.selectedIndex];

            updateInputFields(selectedOption);
        });

        function capitalizeObjectKeys(obj) {
            const newObj = {};
            for (const key in obj) {
                if (obj.hasOwnProperty(key)) {
                    const capitalizedKey = key.charAt(0).toUpperCase() + key.slice(1);
                    newObj[capitalizedKey] = obj[key];
                }
            }
            return newObj;
        }

        function InitializeCartData() {
            let model = @Html.Raw(Json.Serialize(@Model.Order.Cart));

            model.items = model.items.map(item => capitalizeObjectKeys(item));
            model = capitalizeObjectKeys(model);
            console.log(model);

            var cartData = JSON.stringify(model);
            document.getElementById("cartData").value = cartData;
        }
        InitializeCartData();
    });
</script>

