@{
    ViewData["Title"] = "Home Page";
}
@using Craft_beer_backend.ViewModels
@model IEnumerable<FullProductViewModel>
<link rel="stylesheet" href="/css/catalog.css">
@* <style>
    .item {
        width: 130px;
        height: 125px;
        margin: 10px;
        float: left;
        border: solid;
    }

    .miniInp {
        width: 50px;
    }

    .slider {
        -webkit-appearance: none;
        height: 3px;
        background: #6f6f80;
        outline: none;
    }

        .slider::-webkit-slider-thumb {
            appearance: none;
            width: 11px;
            height: 11px;
            border-radius: 100%;
            background: #bfb5a6;
            cursor: pointer;
        }

    .unselected {
        display: none;
    }
</style>

<div style="height:400px">
    <div style="width: 230px; height: 100%; float: left; background-color: lightgray;">
        <div>від<input id="min" value="0" class="miniInp minmaxInp" /> : до<input id="max" value="9999" class="miniInp minmaxInp" /></div>
        <div>
            об'єм
            <input type="range" min="0" max="2" step="1" value="1" class="slider" id="volumeslider">
            <span id="volumesliderValue">всі</span>
            <input type="checkbox" checked id="volumeselectAll">
            <label for="volumeselectAll">Вибрати всі</label>
        </div>
        <div>
            оберти
            <input type="range" min="0" max="5" step="1" value="2" class="slider" id="abvslider">
            <span id="abvsliderValue">всі</span>
            <input type="checkbox" checked id="abvselectAll">
            <label for="abvselectAll">Вибрати всі</label>
        </div>

        <p>Сортування</p>
        <div>Ціна :<button id="DivSort_price" onclick="sortItems('price')">за зростанням</button></div>
        <div>Оберти :<button id="DivSort_abv" onclick="sortItems('abv')">за зростанням</button></div>
        <div>Рейтинг :<button id="DivSort_rating" onclick="sortItems('rating')">за зростанням</button></div>
    </div>
    <div>
        <ul id="items">
            @foreach (var item in Model)
            {

                <li class="item" onclick="redirect(@item.Id)">@item.Name<div hidden class="mismatches">1</div><div class="volume">@item.Volume</div><div class="price">@item.Price</div><div class="abv">@item.ABV</div><div class="rating">@item.Rating</div>
                    <button name="craft-beer-button" class="btn btn-primary" data-id="@item.Id" onclick="addToCart('@item.Id','@item.Name',' @item.Volume',' @item.Price','@item.ImageUrl',this)">Додати в корзину</button></li>
            }
        </ul>
    </div>
</div> *@
<div class="w-100 row m-0 mt-4 justify-content-center align-items-center">

    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div  class=" border border-dark col-xl-3 col-lg-3 col-md-5 col-sm-7 col-7 d-flex flex-column align-items-center justify-content-between item-margin">
                <div onclick ="redirect(@item.Id)">
                    <a  class="d-flex align-items-center justify-content-center">
                        <img class="item-photo"
                             src="../img/Каталог/fanatic_porter.bmp"
                             alt="" />
                    </a>

                    <div class="align-items-center ">
                        <p class="fs-5 m-0 fw-semibold text-center">
                            <a class="link-underline-light link-dark">@item.Name</a>
                        </p>
                    <p class="m-0 ">Темне, Нефільтроване</p>
                        <p class="mb-2 ">Міцність:  @item.ABV,6&#186;</p>
                    </div>
                    <hr class="hr-item" />
                    <div class="bottom-div row w-100 align-items-center">
                    <span class="col align-items-center text-center flex-row item-cost m-0"> @item.Price грн./л</span>
                    </div>

                </div>
            <div class="item-icons col justify-content-center">
                    <button name="craft-beer-button" class="fa fa-solid fa-basket-shopping" data-id="@item.Id" style="color: #0f0f0f;width: 136px;font-size: 20px;margin-bottom: 10px;" onclick="addToCart('@item.Id','@item.Name',' @item.Volume',' @item.Price','@item.ImageUrl',this)"></button>
            </div>
            </div>
            
        }

    }
    else
    {
        <div>За вашим запитом не знайдено результатів.</div>
    }

</div>

<script src="https://kit.fontawesome.com/b98ba76176.js" crossorigin="anonymous"></script>
<script src=~/js/home_index.js></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var elements = Array.from(document.querySelectorAll('.item'));
    var min = document.getElementById("min");
    var max = document.getElementById("max");
    var volslider = $("#volumeslider");
    var volsliderValue = $("#volumesliderValue");
    var volselectAll = $("#volumeselectAll");
    var abvslider = $("#abvslider");
    var abvsliderValue = $("#abvsliderValue");
    var abvselectAll = $("#abvselectAll");
    $(document).ready(function () {

        // VOLUME

        //scripts for slider
        volselectAll.on("change", function () {

            if ($(this).prop("checked")) {
                volsliderValue.text("Всі");
                volslider.css("background-color", "#6f6f80");
                ViewAllItemsByVolume();
            } else {
                setVolTextValue(volslider.val())
                volslider.css("background-color", "#a3610a");
                ViewItemsByVolume();
            }
        });

        volslider.on("input", function () {
            if (volselectAll.prop("checked")) {
                volslider.css("background-color", "#a3610a");
                volselectAll.prop("checked", false);
            }

            setVolTextValue(volslider.val());
            ViewItemsByVolume();
        });

        function setVolTextValue(val) {
            if (val == 0)
                volsliderValue.text("0,33");
            else if (val == 1)
                volsliderValue.text("0,5");
            else
                volsliderValue.text("1,0");
        }

        // VOLUME

        // PRICE

        min.addEventListener("change", function () {
            checkMinValid();
        });
        max.addEventListener("change", function () {
            checkMaxValid();
        });

        // PRICE

        // ABV

        abvselectAll.on("change", function () {

            if ($(this).prop("checked")) {
                abvsliderValue.text("Всі");
                abvslider.css("background-color", "#6f6f80");
                ViewAllItemsByABV();
            } else {
                abvsliderValue.text(abvslider.val());
                abvslider.css("background-color", "#a3610a");
                ViewItemsByABV();
            }
        });

        abvslider.on("input", function () {
            if (abvselectAll.prop("checked")) {
                abvslider.css("background-color", "#a3610a");
                abvselectAll.prop("checked", false);
            }

            abvsliderValue.text(abvslider.val());
            ViewItemsByABV();
        });

        // ABV
    });


    ////////////
    // VOLUME
    ////////////

    function ViewItemsByVolume() {
        for (var i = 0; i < elements.length; i++) {
            let mismaches = elements[i].querySelector(".mismatches");
            if (elements[i].querySelector(".volume").textContent == document.getElementById("volumesliderValue").textContent) {
                if (mismaches.textContent != "1")
                    if (mismaches.textContent % 3 == 0) {
                        mismaches.textContent = (mismaches.textContent / 3);

                        if (mismaches.textContent == "1")
                            elements[i].classList.remove("unselected");
                    }
            }
            else {
                if (mismaches.textContent == "1")
                    elements[i].classList.add("unselected");
                if (mismaches.textContent % 3 != 0)
                    mismaches.textContent = (Number(mismaches.textContent) * 3);
            }
        }
    }

    function ViewAllItemsByVolume() {
        var elements = document.querySelectorAll(".item");
        for (var i = 0; i < elements.length; i++) {
            let mismaches = elements[i].querySelector(".mismatches");
            if (mismaches.textContent % 3 == 0) {
                mismaches.textContent = (mismaches.textContent / 3);
                if (mismaches.textContent == "1")
                    elements[i].classList.remove("unselected");
            }
            console.log(mismaches, 1);
        }
    }

    ////////////
    // VOLUME

    // PRICE
    ////////////

    function checkMinValid() {
        if (Number(min.value) < Number(max.value)) {
            ViewItemsByPrice();
            min.style.backgroundColor = "#ffffff";
        }
        else {
            min.style.backgroundColor = "#f77c88";
            min.value = "0";
            ViewItemsByPrice();
        }

    }
    function checkMaxValid() {
        if (Number(min.value) < Number(max.value)) {
            ViewItemsByPrice();
            max.style.backgroundColor = "#ffffff";
        }
        else {
            max.style.backgroundColor = "#f77c88";
            max.value = "9999";
            ViewItemsByPrice();
        }

    }


    function ViewItemsByPrice() {
        for (var i = 0; i < elements.length; i++) {
            let mismaches = elements[i].querySelector(".mismatches");

            if (Number(elements[i].querySelector(".price").textContent) >= Number(min.value) && Number(elements[i].querySelector(".price").textContent) <= Number(max.value)) {
                if (mismaches.textContent != "1")
                    if (mismaches.textContent % 2 == 0) {
                        mismaches.textContent = (mismaches.textContent / 2);

                        if (mismaches.textContent == "1")
                            elements[i].classList.remove("unselected");
                    }
            }
            else {
                if (mismaches.textContent == "1")
                    elements[i].classList.add("unselected");

                if (mismaches.textContent % 2 != 0)
                    mismaches.textContent = (Number(mismaches.textContent) * 2);
            }
        }

    }
    ////////////
    // PRICE

    // ABV
    ////////////
    function ViewItemsByABV() {
        for (var i = 0; i < elements.length; i++) {
            let mismaches = elements[i].querySelector(".mismatches");
            if (elements[i].querySelector(".abv").textContent == document.getElementById("abvsliderValue").textContent) {
                if (mismaches.textContent != "1")
                    if (mismaches.textContent % 5 == 0) {
                        mismaches.textContent = (mismaches.textContent / 5);

                        if (mismaches.textContent == "1")
                            elements[i].classList.remove("unselected");
                    }
            }
            else {
                if (mismaches.textContent == "1")
                    elements[i].classList.add("unselected");
                if (mismaches.textContent % 5 != 0)
                    mismaches.textContent = (Number(mismaches.textContent) * 5);
            }
        }
    }

    function ViewAllItemsByABV() {
        var elements = document.querySelectorAll(".item");
        for (var i = 0; i < elements.length; i++) {
            let mismaches = elements[i].querySelector(".mismatches");
            if (mismaches.textContent % 5 == 0) {
                mismaches.textContent = (mismaches.textContent / 5);
                if (mismaches.textContent == "1")
                    elements[i].classList.remove("unselected");
            }
            console.log(mismaches, 1);
        }
    }

    ////////////
    // ABV

    // SORTING
    ////////////

    var itemsContainer = document.getElementById('items');
    var SortPriceField = false;
    let DivSort = document.getElementById("DivSort_price");
    function sortItems(parameter) {
        DivSort.style.backgroundColor = "#f0f0f0";
        DivSort = document.getElementById("DivSort_" + parameter);
        DivSort.style.backgroundColor = "#ed9726";
        console.log(DivSort);
        if (SortPriceField) {
            UplineSort(parameter);
            DivSort.innerHTML = "за зростанням";
        } else {
            DeclineSort(parameter);
            DivSort.innerHTML = "за спаданням";
        }
        SortPriceField = !SortPriceField;

        // Очищаємо контейнер та вставляємо відсортовані елементи назад
        elements.forEach(item => itemsContainer.appendChild(item));
    }

    function UplineSort(parameter) {
        elements.sort((a, b) => {
            const priceA = parseFloat(a.querySelector('.' + parameter).textContent.replace(',', '.'));
            const priceB = parseFloat(b.querySelector('.' + parameter).textContent.replace(',', '.'));
            return priceA - priceB;
        });

    }

    function DeclineSort(parameter) {
        elements.sort((a, b) => {
            const priceA = parseFloat(a.querySelector('.' + parameter).textContent.replace(',', '.'));
            const priceB = parseFloat(b.querySelector('.' + parameter).textContent.replace(',', '.'));
            return priceB - priceA;
        });
    }
    function redirect(id) { window.location.href = 'Home/SimpleItemPreview/' + id; }
    ////////////
    // SORTING
    ////////////
</script>