@model List<OrderShortInfoViewModel>

<div class="container">
    <h1 class="mt-5">My Orders</h1>

    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Unique Code</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.UniqueCode</td>
                    <td>@order.Date</td>
                    <td>@order.Status</td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("OrderDetails", "Account", new { uniqueCode = @order.UniqueCode })">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
