@model OrderInfoViewModel
<link href="/css/orderdetails.css" rel="stylesheet" />

<div class="content" style="margin-top: 10%;">
    <div class="first-row">
        <div class="div-about">
            <p class="head-p">замовлення</p>
            <div>
                <p>Унікальний код:</p>
                <p>@Model.UniqueCode</p>
            </div>
            <div>
                <p>Дата замовлення:</p>
                <p>@Model.Date</p>
            </div>
            <div>
                <p>Статус:</p>
                <p>@Model.Status</p>
            </div>
        </div>
        <div class="div-about">
            <p class="head-p">замовник</p>
            <div>
                <p>Ім'я:</p>
                <p>@Model.Customer.FirstName @Model.Customer.LastName</p>
            </div>
            <div>
                <p>Телефон:</p>
                <p>+@Model.Customer.Phone</p>
            </div>
        </div>
        <div class="div-about">
            <p class="head-p">доставка</p>
            <div>
                <p>Місто:</p>
                <p>@Model.Delivery.City</p>
            </div>
            <div>
                <p>Адреса:</p>
                <p>@Model.Delivery.Address</p>
            </div>
            <div>
                <p>Компанія:</p>
                <p>@Model.Delivery.Company</p>
            </div>
        </div>
    </div>
    <div class="second-row">
        <div class="head-p-second">
            <p>товари</p>
        </div>
        <div class="head-row">
            <div class="first-div">назва</div>
            <div>об'єм</div>
            <div>кількість</div>
            <div>ціна</div>
            <div class="last-div">зображення</div>
        </div>
        @foreach (var item in Model.Items)
        {
            <div class="goods">
                <div class="first-div">@item.Name</div>
                <div>@item.Volume</div>
                <div>@item.Count</div>
                <div>@item.Price</div>
                <div class="last-div"><img src=@item.Image alt=""></div>
            </div>
        }
        @if (Model.Status == "Нове")
        {
            <div class="goods" style="justify-content: right;margin-right: 10%;">
                <form method="post" asp-action="CancelOrder" asp-controller="Account">
                    <input type="hidden" name="uniqueCode" value="@Model.UniqueCode">
                    <button style="background-color: #977c49;margin-top: 30px;" type="submit" class="btn">Відмінити замовлення</button>
                </form>
            </div>
        }
    </div>
</div>